black>=23.10.1
flake8>=4.0.1
mypy>=1.6.1
pytest>=7.4.3
pytest-cov>=3.0.0
coverage>=7.3.2
isort[requirements_deprecated_finder,pipfile_deprecated_finder]>=5.10.1
colorama>=0.4.6  # To use the `--color` option in isort
